body
 {
 	margin: auto;
 	font-family: Gill Sans MT;
 }
#colours
 {
 	height:100%;
 	width:100%;
 }
.tab
 {
 	height:12.5%;
 	width:100%;
 }
.violet
 {
 	background-color: #82298D;
 	box-shadow:-15px 0px 50px 7px #82298D;
 }
 .bottom-shadow
  {
	box-shadow:inset 0px -14px 10px -10px black;
  }
 .indigo
 {
 	background-color: #4B0082;
 	box-shadow:-15px 0px 50px 7px #4B0082;
 }
 .blue
 {
 	box-shadow:-15px 0px 50px 7px #255CA9;
 	background-color: #255CA9;
 }
 .green
 {
 	background-color: #76B64C;
 	box-shadow:-15px 0px 50px 7px #76B64C;
 }
 .yellow
 {
 	background-color: #E3CB04;
 	box-shadow:-15px 0px 50px 7px #E3CB04;
 }
 .orange
 {
 	background-color: #E55904;
 	box-shadow:-15px 0px 50px 7px #E55904;
 }
 .red
 {
 	background-color: #DC000A;
 	box-shadow:-15px 0px 50px 7px #DC000A;
 }
#circle
 {
 	position:absolute;
 	top:-200px;
 	right:-400px;
 	height:1400px;
 	width:1000px;
 	border-top-left-radius:700px;
 	border-bottom-left-radius:700px;
 	background-color: white;
 	z-index:2;
 	box-shadow: -5px 5px 10px black;
 }
#arc
 {
 	position:absolute;
 	right:0px;
 }
.vertical-align-one
{
	display: table;
	position:absolute;
	overflow: hidden;
}
.vertical-align-two
{
	#position: absolute;
	#top: 50%;
	display: table-cell;
	vertical-align: middle;
}	
.vertical-align-three
{
	margin-left: 20px;
	#position: relative;
	#top: -50%;
	width:100%;
}
/************************************Main*************************************/
#main
 {
 	position: absolute;

 	width:100%;
 	height:100%;
 	text-align: right;
 	z-index:4;
 	background-color: blue;
 }
#main-head
 {
 	float:right;
 	z-index:5;
 }
/*****************************************Footer***********************************/
#footer
 {
 	position:absolute;
 	height:12.5%;
 	width:100%;
 	bottom:0px;
 	background-color:#CCCCCC;
 	z-index:30;
 }
#footer-menu
 {

 }
#ticker
 {
 	background-color: #AAAAAA;
 	width:100%;
 	height:40%;
 }